.page-proxies {
    display: flex;
    flex-direction: column;
    bottom: 0;
}
.proxies-body {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.proxies-table td:last-child, .proxies-table th.md-column:last-child {
    text-align: center;
    width: 25rem;
}
.proxies-table.md-table td.md-cell:first-child,
.proxies-table.md-table th.md-column:first-child {
    text-align: center;
    width: 10rem;
}
.proxies-table th:first-child md-icon {
    display: none;
}
.health-markers {
    padding-top: 25px;
}
.proxies-footer {
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 2rem;
}
.proxies-tabs md-content {
    background-color: #fff;
    min-height: 276px;
    padding: 18px 18px 0;
    margin-bottom: -2rem;
}
