body {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    line-height: 23px;
}
a {
    color: #428bca;
    outline: 3px solid transparent;
    border: 1px solid transparent;
}
a:hover {
    color: white;
    background: #428bca;
    border-color: #428bca;
    text-decoration: none;
    box-shadow: #428bca -2px 0 0 1px, #428bca 2px 0 0 1px;
    border-radius: .15em;
}
code {
    background: lightgrey;
    color: black;
    white-space: nowrap;
}
.nowrap {
    white-space: nowrap;
}
pre.top-margin {
    margin-top: 4px;
}
.btn-title {
    float: right;
    margin-top: -4px;
    margin-right: 15px;
    margin-bottom: -5px;
}
.header {
    height: 60px;
    background: #0c334d;
}
.header img {
    width: 170px;
    margin-top: 9px;
}
.navigation {
    background: #f5f5f5;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #777;
}
.navigation:after {
    content: '';
    display: block;
    clear: both;
}
.navigation .active {
    float: left;
}
.navigation .active .separator {
    color: #ccc;
}
.navigation .items {
    float: right;
}
.navigation .items .separator {
    color: #0c334d;
}
nav a:hover {
    box-shadow: none;
}
.block {
    background: #eeeeee;
    padding: 1em;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 12px;
}
.alert-inline {
    display: inline;
    padding: 6px 12px;
    position: relative;
    top: 2px;
}
.tester-body {
    margin-bottom: 18px;
}
.tester-body textarea {
    height: 100px;
}
.tools-header {
    margin-bottom: 12px;
}
.tester-body:after, .tools-header:after {
    content: '';
    display: block;
    clear: both;
}
.tools-add-header {
    margin-bottom: 18px;
}
.tester-alert {
    margin-top: 20px;
    padding: 7.5px 11.5px;
}
.tester-results {
    margin-top: 20px;
}
.tools-table {
    width: auto;
    float: none;
    margin: 20px auto;
}
.tools-table th {
    text-align: center;
}
.countries-list {
    text-align: center;
    margin-top: 20px;
}
.countries-list > div {
    padding: 10px;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    position: relative;
    border: 1px solid black;
    margin: 5px 10px;
}
.countries-list .glyphicon {
    color: grey;
}
.countries-list .glyphicon-ok {
    color: green !important;
}
.countries-list .glyphicon-download-alt {
    color: blue !important;
}
.countries-failed {
    color: red !important;
}
.countries-canceled {
    color: orange !important;
}
.countries-op {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 40px;
    padding-left: 10px;
    background: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 25%);
}
.countries-op span:hover {
    color: orange;
    cursor: pointer;
}
.countries-view {
    border-bottom: 1px dashed;
    cursor: pointer;
}
#countries-screenshot .modal-dialog {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#countries-screenshot .modal-body > div {
    overflow: auto;
    max-height: calc(100vh - 164px);
}
.proxies-settings {
    overflow: auto;
    max-height: calc(100vh - 190px);
}
.proxies-panel {
    overflow: auto;
}
table.proxies td, table.proxies th {
    text-align: center;
}
div.proxies .panel-footer {
    position: relative;
}
.proxy-pagination {
    position: absolute;
    right: 11px;
    top: -11px;
}
.proxies-default {
    color: gray;
}
.proxies-editable {
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.proxies-editable:hover {
    color: orange;
}
.proxies-table-input {
    position: absolute;
    z-index: 2;
    left: -25px;
    right: -25px;
    top: -7px;
}
.proxies-table-input input, .proxies-table-input select {
    width: 100%;
}
.proxies-actions {
    white-space: nowrap;
}
.proxies-action {
    cursor: pointer;
    color: #428bca;
    outline: 3px solid transparent;
    border: 1px solid transparent;
    line-height: 20px;
    margin: 0 4px;
}
.proxies-action:hover {
    color: white;
    background: #428bca;
    border-color: #428bca;
    text-decoration: none;
    box-shadow: #428bca -2px 0 0 1px, #428bca 2px 0 0 1px;
    border-radius: .15em;
}
.proxies-action-disabled {
    outline: 3px solid transparent;
    border: 1px solid transparent;
    line-height: 20px;
    margin: 0 4px;
    color: grey;
}
.proxies-graph {
    float: left;
    width: 50%;
}
#stats .modal-body h4 {
    text-align: center;
}
#stats .modal-body:after {
    content: '';
    display: block;
    clear: both;
}
.proxies-graph-container {
    margin-left: -32px;
    padding: 0 28px 30px 60px;
    position: relative;
    overflow: hidden;
}
.proxies-graph-time {
    position: absolute;
    left: 60px;
    bottom: 0;
    height: 36px;
    font-size: 12px;
    background: white;
}
.proxies-graph-time:before {
    content: '';
    display: block;
    position: absolute;
    background: #ff4081;
    left: 0;
    right: 0;
    bottom: 20px;
    height: 4px;
}
.proxies-graph-left, .proxies-graph-right {
    position: absolute;
    bottom: 10px;
}
.proxies-graph-left {
    left: -6px;
}
.proxies-graph-right {
    right: -6px;
}
.proxies-graph-left span, .proxies-graph-right span {
    position: relative;
    top: 12px;
    cursor: default;
}
.proxies-graph-left span {
    left: 12px;
}
.proxies-graph-right span {
    right: 12px;
}
.proxies-graph-left:after, .proxies-graph-right:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #ff4081;
    bottom: 6px;
}
.proxies-graph-left:after {
    left: 0;
}
.proxies-graph-right:after {
    right: 0;
}
.proxies-graph-indicator {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 22px;
    display: none;
}
.proxies-graph-time:hover .proxies-graph-indicator {
    display: block;
}
.proxies-graph-indicator:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 2000px;
    background: #ff4081;
}
.proxies-graph-indicator span {
    position: absolute;
    display: block;
    color: white;
    background: #ff4081;
    bottom: -8px;
    border-radius: 8px;
    height: 16px;
    line-height: 16px;
    width: 64px;
    left: -32px;
    text-align: center;
    cursor: default;
}
#history .modal-dialog, #history_details .modal-dialog, #stats .modal-dialog,
#pool .modal-dialog {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#history .modal-body > div {
    overflow: auto;
    max-height: calc(100vh - 164px);
}
#history label {
    font-weight: normal;
}
.proxies-history-tools {
    position: fixed;
    left: 20px;
    top: 80px;
    height: 100%;
}
.proxies-history-navigation {
    margin-bottom: 25px;
}
.proxies-history-content {
    min-height: 250px;
    padding-bottom: 12px;
    position: relative;
    margin-left: 300px;
}
.proxies-history-stats {
    margin-top: 20px;
}
.proxies-history-filter {
    font-size: 11px;
    border-bottom: 1px dashed;
    border-color: #428bca;
}
.proxies-history th {
    line-height: 15px !important;
    white-space: nowrap;
}
.proxies-history th span, .proxies-history th a {
    cursor: pointer;
}
.proxies-history th, .proxies-history td {
    text-align: center;
}
.proxies-history td:first-child {
    text-align: left;
}
#history .proxies-history tr {
    cursor: pointer;
}
#history .proxies-history thead tr {
    cursor: default;
}
.proxies-history-loading {
    padding: 4px;
    width: 200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    z-index: 2;
}
.zones-table td, .zones-table thead th {
    text-align: right;
}
.zones-table td.zones-zone, .zones-table thead th.zones-zone {
    text-align: left;
}
#zone .panel-heading {
    position: relative;
}
#zone .panel-heading button {
    position: absolute;
    right: 5px;
    top: 5px;
}
.settings-alert {
    position: relative;
}
.settings-alert > div {
    padding-right: 100px;
}
.settings-alert button {
    position: absolute;
    right: 10px;
    top: 9px;
}
#config textarea, #config .CodeMirror {
    width: 100%;
    height: calc(100vh - 240px);
    padding: 0;
    border: 1px solid black;
}
