body {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    line-height: 23px;
}
.popover {
    font-family: "Noto Sans", sans-serif;
}
.page-body a {
    color: #428bca;
    outline: 3px solid transparent;
    border: 1px solid transparent;
}
.page-body a:hover {
    color: white;
    background: #428bca;
    border-color: #428bca;
    text-decoration: none;
    box-shadow: #428bca -2px 0 0 1px, #428bca 2px 0 0 1px;
    border-radius: .15em;
}
code {
    background: lightgrey;
    color: black;
    white-space: nowrap;
}
.nowrap {
    white-space: nowrap;
}
pre.top-margin {
    margin-top: 4px;
}
.header .dropdown {
    float: right;
    margin: 18px 5px 0 0;
    font-size: 14px;
}
.header .dropdown-toggle {
    background: white;
    color: #2d404c;
    border-radius: 5px;
    padding: 3px 17px 3px 5px;
    position: relative;
    text-decoration: none;
}
.header .dropdown-toggle:hover {
    background-color: #e6e6e6;
}
.header .dropdown-toggle .caret {
    position: absolute;
    right: 6px;
    top: 12px;
    margin: 0;
}
.container {
    width: auto;
    max-width: 1170px;
}
.main-container-qs {
    margin-left: 25%;
}
.quickstart {
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    border-right: 1px solid black;
    padding: 12px;
}
.qs-move-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
}
.btn-title {
    float: right;
    margin-top: -4px;
    margin-right: 15px;
    margin-bottom: -5px;
}
.header {
    height: 60px;
    background: #0c334d;
}
.header img {
    width: 170px;
    margin-top: 9px;
}
.navigation {
    background: #f5f5f5;
    padding: 8px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #777;
}
.navigation:after {
    content: '';
    display: block;
    clear: both;
}
.navigation .active {
    float: left;
}
.navigation .active .separator {
    color: #ccc;
}
.navigation .items {
    float: right;
}
.navigation .items .separator {
    color: #0c334d;
}
nav a:hover {
    box-shadow: none;
}
.block {
    background: #eeeeee;
    padding: 1em;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 12px;
}
.alert-inline {
    display: inline;
    padding: 6px 12px;
    position: relative;
    top: 2px;
    margin: 0 8px;
}
.tester-body {
    margin-bottom: 18px;
}
.tester-body textarea {
    height: 100px;
}
.tools-header {
    margin-bottom: 12px;
}
.tester-body:after, .tools-header:after {
    content: '';
    display: block;
    clear: both;
}
.tools-add-header {
    margin-bottom: 18px;
}
.tester-alert {
    margin-top: 20px;
    padding: 7.5px 11.5px;
}
.tester-results {
    margin-top: 20px;
}
.tools-table {
    width: auto;
    float: none;
    margin: 20px auto;
}
.tools-table th {
    text-align: center;
}
.countries-list {
    text-align: center;
    margin-top: 20px;
}
.countries-list > div {
    padding: 10px;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    position: relative;
    border: 1px solid black;
    margin: 5px 10px;
}
.countries-list .glyphicon {
    color: grey;
}
.countries-list .glyphicon-ok {
    color: green !important;
}
.countries-list .glyphicon-download-alt {
    color: blue !important;
}
.countries-failed {
    color: red !important;
}
.countries-canceled {
    color: orange !important;
}
.countries-op {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 40px;
    padding-left: 10px;
    background: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 25%);
}
.countries-op span:hover {
    color: orange;
    cursor: pointer;
}
.countries-view {
    border-bottom: 1px dashed;
    cursor: pointer;
}
#countries-screenshot .modal-dialog {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#countries-screenshot .modal-body > div {
    overflow: auto;
    max-height: calc(100vh - 164px);
}
.proxies-settings, .columns-settings {
    overflow: auto;
    max-height: calc(100vh - 190px);
}
.columns-settings {
    padding-left: 100px;
}
.proxies-panel {
    overflow: auto;
}
table.proxies td, table.proxies th {
    text-align: center;
}
div.proxies .panel-footer, div.proxies .panel-heading {
    position: relative;
}
div.proxies .panel-heading button {
    position: absolute;
    right: 5px;
    top: 5px;
}
.proxy-pagination {
    position: absolute;
    right: 11px;
    top: -11px;
}
.proxies-default {
    color: gray;
}
.proxies-editable {
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.proxies-editable:hover {
    color: orange;
}
.proxies-table-input {
    position: absolute;
    z-index: 2;
    left: -25px;
    right: -25px;
    top: -7px;
}
.proxies-table-input input, .proxies-table-input select {
    width: 100%;
}
.proxies-actions {
    white-space: nowrap;
}
.proxies-action {
    cursor: pointer;
    color: #428bca;
    outline: 3px solid transparent;
    border: 1px solid transparent;
    line-height: 20px;
    margin: 0 4px;
}
.proxies-action:hover {
    color: white;
    background: #428bca;
    border-color: #428bca;
    text-decoration: none;
    box-shadow: #428bca -2px 0 0 1px, #428bca 2px 0 0 1px;
    border-radius: .15em;
}
.proxies-action-disabled {
    outline: 3px solid transparent;
    border: 1px solid transparent;
    line-height: 20px;
    margin: 0 4px;
    color: grey;
}
.proxies-warning {
    color: red;
}
.proxies-status {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: yellow;
    display: inline-block;
    position: relative;
    top: 2px;
}
.proxies-status.green {
    background: #55ff0d;
}
.proxies-status.red {
    background: red;
}
#history .modal-dialog, #history_details .modal-dialog, #pool .modal-dialog {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#history .modal-body > div {
    overflow: auto;
    max-height: calc(100vh - 164px);
}
#history label {
    font-weight: normal;
}
.proxies-history-tools {
    position: fixed;
    left: 20px;
    top: 80px;
    height: 100%;
}
.proxies-history-navigation {
    margin-bottom: 25px;
}
.proxies-history-content {
    min-height: 250px;
    padding-bottom: 12px;
    position: relative;
    margin-left: 300px;
}
.proxies-history-stats {
    margin-top: 20px;
}
.proxies-history-filter {
    font-size: 11px;
    border-bottom: 1px dashed;
    border-color: #428bca;
}
.proxies-history th {
    line-height: 15px !important;
    white-space: nowrap;
}
.proxies-history th span, .proxies-history th a {
    cursor: pointer;
}
.proxies-history th, .proxies-history td {
    text-align: center;
}
.proxies-history td:first-child {
    text-align: left;
}
#history .proxies-history tr {
    cursor: pointer;
}
#history .proxies-history thead tr {
    cursor: default;
}
.proxies-history-loading {
    padding: 4px;
    width: 200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    z-index: 2;
}
.proxies-history-archive {
    float: right;
    font-size: 11px;
    line-height: 14px;
    margin-top: -1px;
    margin-bottom: -2px;
    margin-right: 32px;
    text-align: right;
}
.proxies-history-archive > span {
    border-bottom: 1px dashed;
    border-color: #428bca;
    cursor: pointer;
    text-transform: lowercase;
}
.zones-table td, .zones-table thead th {
    text-align: right;
}
.zones-table td.zones-zone, .zones-table thead th.zones-zone {
    text-align: left;
}
#zone .panel-heading {
    position: relative;
}
#zone .panel-heading button {
    position: absolute;
    right: 5px;
    top: 5px;
}
.settings-alert {
    position: relative;
}
.settings-alert > div:not(.settings-inner-alert), .settings-alert pre {
    margin-right: 120px;
}
.settings-alert button {
    position: absolute;
    right: 10px;
    top: 9px;
}
.settings-alert .settings-inner-alert {
    position: absolute;
    right: 10px;
    top: 47px;
    padding: 4px 8px;
}
.quickstart li {
    display: block;
    margin-bottom: 10px;
}
.quickstart li:before {
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-left: -22px;
}
.quickstart li:before {
    content: '\e092';
}
.quickstart li.quickstart-completed:before {
    content: '\e013';
    color: green;
}
.quickstart li.quickstart-completed + li:not(.quickstart-completed):before,
.quickstart li:not(.quickstart-completed):first-child:before {
    color: red;
}
#creds-popover {
    cursor: pointer;
}
.creds-popover .popover {
    max-width: 342px;
}
.creds-popover .panel-body {
    color: #004d74;
}
.creds-popover .panel-heading, .creds-popover .panel-body {
    font-size: 13px;
}
.creds-popover .form-group {
    margin: 0 -15px 5px !important;
}
.creds-popover .empty {
    background: #004d74;
    border-left: 15px solid white;
    border-right: 15px solid white;
}
#version {
    background: #f04844;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 2px;
    position: relative;
    top: 12px;
    left: 4px;
}
.github {
    margin-top: 12px;
}
#config-textarea, #config-textarea + .CodeMirror, #resolve-textarea {
    width: 100%;
    height: 400px;
    margin-bottom: 18px;
}
.resolve-add-host {
    margin-top: -6px;
    margin-bottom: 18px;
}
#settings-page {
    padding-top: 20px;
}
.confirmation-items {
    margin-top: 11px;
}
.form-range {
    width: 100%;
}
.form-range .form-control {
    display: inline-block;
    width: 48%;
}
.form-range .range-seperator {
    display: inline-block;
    width: 2%;
    text-align: center;
}
.luminati-login h3 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.luminati-login .alert-danger {
    color: #d00;
}
.luminati-login label {
    color: #818c93;
    font-weight: normal;
}
.luminati-login button {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px 12px;
    background-image: -o-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
    background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -moz-linear-gradient(top, #37a3eb, #2181cf);
    background-image: linear-gradient(top, #37a3eb, #2181cf);
    border: 1px solid #1c74b3;
    border-bottom-color: #0d5b97;
    border-top-color: #2c8ed1;
    box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
    color: #fff !important;
    text-shadow: rgba(0,0,0,0.2) 0 1px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.luminati-login button:hover:enabled {
    background-color: #3baaf4;
    background-image: -o-linear-gradient(top, #3baaf4, #2389dc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3baaf4), to(#2389dc));
    background-image: -webkit-linear-gradient(top, #3baaf4, #2389dc);
    background-image: -moz-linear-gradient(top, #3baaf4, #2389dc);
    background-image: linear-gradient(top, #3baaf4, #2389dc);
}
.luminati-login button:active {
    background-image: -o-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
    background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -moz-linear-gradient(top, #37a3eb, #2181cf);
    background-image: linear-gradient(top, #37a3eb, #2181cf);
}
.luminati-login .signup {
    color: #818c93;
    font-size: 16.5px;
    margin-top: 12px;
}
#google {
    min-width: 300px;
}
#google a.google {
    color: white;
    display: block;
    padding: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 35px;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 95px;
    cursor: pointer;
    max-width: 300px;
    text-align: left;
    text-decoration: none;
    border: none;
    position: relative;
    white-space: nowrap;
}
#google a.google, #google a.google:hover {
    background: url(/img/social_btns.svg) no-repeat 50% 100%;
}
#google a.google:focus {
    outline: 0;
    top: 1px;
}
#google a.google:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
}
#google a.google:active {
    top: 1px;
}
