.info .error {
    text-align: center;
    padding: 50px;
    color: red;
}
.info .error>* {
    margin: 0 auto;
}
.info .error .material-icons {
    position: relative;
    top: -5px;
}
.loading {
    padding: 50px;
}
.loading>* {
    margin: 0 auto;
}
.zone-title {
    padding-left: 50px;
}
.zone-stats {
    padding: 15px;
}
.zone-stats .row-header {
    text-align: left;
}
