.page-countries md-card {
    padding: 10px;
}
.page-countries md-input-container {
    margin-bottom: 0;
}
.page-countries md-input-container .md-errors-spacer:empty {
    display: none;
}
.countries-headers-button {
    position: relative;
    text-align: center;
    height: 50px;
}
.countries-headers-button .md-button {
    width: 200px;
}
.countries-headers {
    margin: 12px 0 6px 0;
}
.countries-header {
    max-width: 300px;
}
.countries-rm-header {
    margin-right: 0;
}
.countries-list {
    text-align: center;
}
.countries-list > md-card {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
}
.countries-done {
    color: green;
}
.countries-error {
    color: red;
}
.countries-view {
    border-bottom: 1px dashed;
}
.dialog-screenshot {
    width: 100%;
    text-align: center;
}
