health {
    display: inline-block;
}
.health {
    display: flex;
    align-items: center;
}
.health-icon {
    margin-right: 2em;
    margin-left: .2em;
}
.health-icon>* {
    display: inline-block;
    width: 20px;
}
.health-error {
    color: red;
}
.health-done {
    color: green;
}
