.page-proxies {
    display: flex;
    flex-direction: column;
    bottom: 0;
}
.proxies-body {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.proxies-table td:last-child, .proxies-table th.md-column:last-child {
    text-align: center;
    width: 25rem;
}
.proxies-table.md-table td.md-cell:first-child,
.proxies-table.md-table th.md-column:first-child {
    text-align: center;
    width: 10rem;
}
.proxies-table th:first-child md-icon {
    display: none;
}
.health-markers {
    padding-top: 25px;
}
.proxies-footer {
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 2rem;
}
.proxies-tabs md-content {
    background-color: #fff;
    min-height: 276px;
    padding: 18px 18px 0;
    margin-bottom: -2rem;
}
.proxies-graph-container {
    margin-left: -32px;
    padding: 0 28px 30px 60px;
    position: relative;
    overflow: hidden;
}
.proxies-graph-time {
    position: absolute;
    left: 60px;
    bottom: 0;
    height: 36px;
    font-size: 12px;
    background: white;
}
.proxies-graph-time:before {
    content: '';
    display: block;
    position: absolute;
    background: #ff4081;
    left: 0;
    right: 0;
    bottom: 20px;
    height: 4px;
}
.proxies-graph-left, .proxies-graph-right {
    position: absolute;
    bottom: 10px;
}
.proxies-graph-left {
    left: -6px;
}
.proxies-graph-right {
    right: -6px;
}
.proxies-graph-left span, .proxies-graph-right span {
    position: relative;
    top: 12px;
    cursor: default;
}
.proxies-graph-left span {
    left: 12px;
}
.proxies-graph-right span {
    right: 12px;
}
.proxies-graph-left:after, .proxies-graph-right:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #ff4081;
    bottom: 6px;
}
.proxies-graph-left:after {
    left: 0;
}
.proxies-graph-right:after {
    right: 0;
}
.proxies-graph-indicator {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 22px;
    display: none;
}
.proxies-graph-time:hover .proxies-graph-indicator {
    display: block;
}
.proxies-graph-indicator:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 2000px;
    background: #ff4081;
}
.proxies-graph-indicator span {
    position: absolute;
    display: block;
    color: white;
    background: #ff4081;
    bottom: -8px;
    border-radius: 8px;
    height: 16px;
    line-height: 16px;
    width: 64px;
    left: -32px;
    text-align: center;
    cursor: default;
}
.proxies-history-update {
    font-size: 14px;
    margin-left: 20px;
    text-decoration: underline;
}
.proxies-history-update:hover {
    color: white !important;
}
.proxies-history, .proxies-history-headers {
    width: auto !important;
    margin: auto !important;
}
.proxies-history-headers {
    margin-top: 20px !important;
}
.proxies-history td {
    padding: 4px !important;
    text-align: center !important;
}
.proxies-history-headers td {
    padding: 4px !important;
    text-align: left !important;
}
.proxies-history-headers td:first-child {
    padding-right: 12px !important;
    font-weight: bold;
}
.proxies-history td:nth-child(1) {
    text-align: left !important;
}
.proxies-history th, .proxies-history-headers th {
    font-size: 13px !important;
    padding: 4px !important;
    text-align: center !important;
}
.proxies-history tr, .proxies-history-headers tr {
    height: auto !important;
}
.proxies-history tr.proxy-history-clickable:hover {
    background: #eeeeee;
}
.proxies-history-container {
    padding: 12px;
}
.proxies-history-content {
    min-height: 200px;
    padding-bottom: 12px;
}
.proxies-history-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.proxies-history-filter {
    font-size: 11px;
    border-bottom: 1px dashed;
}
.proxies-date-filter {
    height: 130px;
}
.proxies-date-filter label {
    color: rgba(0, 0, 0, 0.38);
    font-size: 12px;
}
.proxies-date-filter .md-datepicker-input-container.md-datepicker-focused {
    border-bottom-width: 1px !important;
}
.proxies-history-navigation {
    text-align: center;
}
.proxies-test-content md-input-container {
    margin-bottom: 0;
}
.proxies-test-content md-input-container .md-errors-spacer:empty {
    display: none;
}
.proxies-test-port, .proxies-test-method {
    max-width: 200px;
}
.proxies-test-button {
    position: relative;
    text-align: center;
    height: 50px;
}
.proxies-test-button .md-button {
    width: 200px;
}
.proxies-test-button md-progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
}
.proxies-test-body {
    margin-top: 20px;
}
.proxies-test-error {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}
.proxies-test-headers, .proxies-test-body {
    margin: 12px 0 6px 0;
}
.proxies-test-header {
    max-width: 200px;
}
.proxies-test-rm-header {
    margin-right: 0;
}
