@first_color: #004d74;
@second_color: #05bed1;
@grey: #ccdbe3;
@grey_border: #E0E9EE;
@light_grey: #f5f5f5;
@dark_grey: #d7d7d7;
@light: #B4E6EE;
@x_light: #E6F6F9;
@xx_light: #F3FBFC;
@dark: #003d5b;
@error_dark: #eb3a28;
@error: #ef6153;
@error_light: #F9BFB9;
@error_x_light: #ffebeb;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
      url(/font/lato_regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
      url(/font/lato_bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
      U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    line-height: 23px;
    overflow-y: scroll;
}
.no_nav {
    .page-body {
        margin-left: 0;
    }
    .nav_top { background-color: white; }
}
.page-body { margin-left: 224px; }
.page-body a {
    color: #428bca;
    outline: 3px solid transparent;
    border: 1px solid transparent;
}
.page-body a:hover {
    color: white;
    background: #428bca;
    border-color: #428bca;
    text-decoration: none;
    box-shadow: #428bca -2px 0 0 1px, #428bca 2px 0 0 1px;
    border-radius: .15em;
}
code {
    background: lightgrey;
    color: black;
    white-space: nowrap;
}
.nowrap {
    white-space: nowrap;
}
pre.top-margin {
    margin-top: 4px;
}
.container {
    width: auto;
}
.main-container-qs {
    margin-left: 25%;
}
.qs-move-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
}
.btn-title {
    float: right;
    margin-top: -4px;
    margin-right: 15px;
    margin-bottom: -5px;
}
.header { height: 60px; }
.header img { margin-top: 10px; }
nav a:hover {
    box-shadow: none;
}
.overall-success-ratio {
    margin-bottom: 20px;
}
.success_title {
    font-size: 22px;
    cursor: pointer;
}
.success_value {
    text-align: right;
    font-size: 22px;
    cursor: pointer;
    color: #428bca;
}
.block {
    background: #eeeeee;
    padding: 1em;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 12px;
}
.alert-inline {
    display: inline;
    padding: 6px 12px;
    position: relative;
    top: 2px;
    margin: 0 8px;
}
.tester-body {
    margin-bottom: 18px;
}
.tester-body textarea {
    height: 100px;
}
.tools-header {
    margin-bottom: 12px;
}
.tester-body:after, .tools-header:after {
    content: '';
    display: block;
    clear: both;
}
.tools-add-header {
    margin-bottom: 18px;
}
.tester-alert {
    margin-top: 20px;
    padding: 7.5px 11.5px;
}
.tester-results {
    margin-top: 20px;
}
.tools-table {
    width: auto;
    float: none;
    margin: 20px auto;
}
.tools-table th {
    text-align: center;
}
.countries-list {
    text-align: center;
    margin-top: 20px;
}
.countries-list > div {
    padding: 10px;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    position: relative;
    border: 1px solid black;
    margin: 5px 10px;
}
.countries-list .glyphicon {
    color: grey;
}
.countries-list .glyphicon-ok {
    color: green !important;
}
.countries-list .glyphicon-download-alt {
    color: blue !important;
}
.countries-failed {
    color: red !important;
}
.countries-canceled {
    color: orange !important;
}
.countries-op {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 40px;
    padding-left: 10px;
    background: white;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 25%);
}
.countries-op span:hover {
    color: orange;
    cursor: pointer;
}
.countries-view {
    border-bottom: 1px dashed;
    cursor: pointer;
}
#countries-screenshot .modal-dialog {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#countries-screenshot .modal-body > div {
    overflow: auto;
    max-height: calc(~"100vh - 164px");
}
table.proxies {
    table-layout: fixed;
    min-width: 100%;
    width: auto;
}
.proxies-settings, .columns-settings {
    overflow: auto;
    max-height: calc(~"100vh - 190px");
}
.proxies-panel {
    overflow: auto;
}
div.proxies .panel-footer, div.proxies .panel-heading {
    position: relative;
}
div.proxies .panel-heading {
    height: 65px;
}
div.proxies .btn-wrapper {
    position: absolute;
    right: 10px;
    top: 10px;
}
.proxies .btn-csv {
    font-size: 12px;
}
.proxies-default {
    color: gray;
}
.proxies-editable {
    cursor: pointer;
    position: relative;
    display: inline-block;
    min-height: 20px;
    min-width: 100%;
}
.proxies-editable:hover {
    color: orange;
}
.proxies-table-input {
    position: absolute;
    z-index: 2;
    left: -25px;
    right: -25px;
    top: -7px;
}
.proxies-table-input input, .proxies-table-input select {
    width: 100%;
}
.proxies-check {
    width: 32px;
}
.col_success_rate {
    white-space: nowrap;
    width: 80px;
}
.proxies-success-rate-value {
    color: #428bca;
    width: 80px;
    font-size:16px;
    cursor: pointer;
}
.proxies-actions {
    white-space: nowrap;
    width: 80px;
}
.proxies-action {
    cursor: pointer;
    color: #428bca;
    outline: 3px solid transparent;
    border: 1px solid transparent;
    line-height: 20px;
    margin: 0;
}
.proxies-action-disabled {
    border: 1px solid transparent;
    line-height: 20px;
    margin: 0;
}
.proxies-action-edit {
    visibility: hidden;
}
.proxies tr:hover .proxies-action-edit {
    visibility: visible;
    cursor: pointer;
}
.proxies-action-delete, .proxies-action-duplicate {
    cursor: pointer;
}
.proxies-warning {
    color: red;
}
#history .modal-dialog, #history_details .modal-dialog, #pool .modal-dialog {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#history .modal-body > div {
    overflow: auto;
    max-height: calc(~"100vh - 164px");
}
#history label {
    font-weight: normal;
}
.proxies-history-navigation {
    margin-bottom: 25px;
}
.proxies-history-filter {
    font-size: 11px;
    border-bottom: 1px dashed;
    border-color: #428bca;
}
.proxies-history th {
    line-height: 15px !important;
}
.clickable {
    cursor: pointer;
}
.proxies-history-loading {
    padding: 4px;
    width: 200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    z-index: 2;
}
.proxies-history-archive {
    float: right;
    font-size: 11px;
    line-height: 14px;
    margin-top: -1px;
    margin-bottom: -2px;
    margin-right: 32px;
    text-align: right;
}
.proxies-history-archive > span {
    border-bottom: 1px dashed;
    border-color: #428bca;
    cursor: pointer;
    text-transform: lowercase;
}
.zones-table td, .zones-table thead th {
    text-align: right;
}
.zones-table td.zones-zone, .zones-table thead th.zones-zone {
    text-align: left;
}
#zone .panel-heading {
    position: relative;
}
#zone .panel-heading button {
    position: absolute;
    right: 5px;
    top: 5px;
}
.settings-alert {
    position: relative;
}
.settings-alert .buttons {
    position: absolute;
    right: 10px;
    top: 9px;
}
.github {
    margin-top: 12px;
}
#config-textarea, #config-textarea + .CodeMirror, #resolve-textarea {
    width: 100%;
    height: 400px;
    margin-bottom: 18px;
}
.resolve-add-host {
    margin-top: -6px;
    margin-bottom: 18px;
}
#settings-page {
    padding-top: 20px;
}
.confirmation-items {
    margin-top: 11px;
}
.form-range {
    width: 100%;
}
.form-range .form-control {
    display: inline-block;
    width: 48%;
}
.form-range .range-seperator {
    display: inline-block;
    width: 2%;
    text-align: center;
}
.luminati-login h3 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.luminati-login .alert-danger {
    color: #d00;
}
.luminati-login label {
    color: #818c93;
    font-weight: normal;
}
.luminati-login button {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px 12px;
    background-image: -o-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
    background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -moz-linear-gradient(top, #37a3eb, #2181cf);
    background-image: linear-gradient(top, #37a3eb, #2181cf);
    border: 1px solid #1c74b3;
    border-bottom-color: #0d5b97;
    border-top-color: #2c8ed1;
    box-shadow: 0 1px 0 #ddd,inset 0 1px 0 rgba(255,255,255,0.2);
    color: #fff !important;
    text-shadow: rgba(0,0,0,0.2) 0 1px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.luminati-login button:hover:enabled {
    background-color: #3baaf4;
    background-image: -o-linear-gradient(top, #3baaf4, #2389dc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3baaf4), to(#2389dc));
    background-image: -webkit-linear-gradient(top, #3baaf4, #2389dc);
    background-image: -moz-linear-gradient(top, #3baaf4, #2389dc);
    background-image: linear-gradient(top, #3baaf4, #2389dc);
}
.luminati-login button:active {
    background-image: -o-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
    background-image: -webkit-linear-gradient(top, #37a3eb, #2181cf);
    background-image: -moz-linear-gradient(top, #37a3eb, #2181cf);
    background-image: linear-gradient(top, #37a3eb, #2181cf);
}
.luminati-login .signup {
    color: #818c93;
    font-size: 16.5px;
    margin-top: 12px;
}
#google {
    min-width: 300px;
}
#google a.google {
    color: white;
    display: block;
    padding: 0;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    height: 35px;
    font-size: 16px;
    padding-top: 6px;
    padding-left: 95px;
    cursor: pointer;
    max-width: 300px;
    text-align: left;
    text-decoration: none;
    border: none;
    position: relative;
    white-space: nowrap;
}
#google a.google, #google a.google:hover {
    background: url(/img/social_btns.svg) no-repeat 50% 100%;
}
#google a.google:focus {
    outline: 0;
    top: 1px;
}
#google a.google:hover {
    border: none;
    box-shadow: none;
    border-radius: 0;
}
#google a.google:active {
    top: 1px;
}
.panel .panel-heading button.btn.btn-ico {
    padding: 7px;
    border: solid 1px #c8c2bf;
    background-color: #fcfcfc;
    width: 35px;
    height: 34px;
    margin: 0 1px;
    &.add_proxy_btn {
        color: @first_color;
        background-color: @second_color;
        border-color: @second_color;
    }
}
.panel .panel-heading button.btn.btn-ico img {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
}
.panel .panel-heading button.btn.btn-ico[disabled] img {
    opacity: 0.25;
}
.tooltip.in {
    opacity: 1;
}
.tooltip-proxy-status .tooltip-inner, .tooltip-default .tooltip-inner,
.tooltip .tooltip-inner {
    max-width: 250px;
    border: solid 1px black;
    background: #fff;
    color: black;
}
.status-details-wrapper {
    background: #f7f7f7;
    font-size: 12px;
}
.status-details-line {
    margin: 0 0 5px 25px;
}
.status-details-icon-warn {
    vertical-align: bottom;
    padding-bottom: 1px;
}
.status-details-text {
    padding: 0 0 0 5px;
}
.ic-status-triangle {
    font-size: 12px;
    color: #979797;
}
.text-err {
    color: #d8393c;
}
.text-ok {
    color: #4ca16a;
}
.text-warn {
    color: #f5a623;
}
.pointer {
    cursor: pointer;
}
.opened,
.table-hover>tbody>tr.opened:hover {
    background-color: #d7f6ff;
}
.table-hover>tbody>tr>td {
    border: none;
}
.table-hover .no-hover:hover {
    background: none;
}
.pull-none {
    float: none !important;
}
.history__header {
    margin-top: 10px;
}
.history-details__column-first {
    width: 300px;
}
.modal-open .modal {
    overflow-y: scroll;
}
.blue {
    color: #4a90e2;
}
.pagination>li>a:hover,
.pagination>.disabled>a:hover {
    box-shadow: none;
}
.control-label.preset {
    width: 100%;
}
.control-label.preset .form-control {
    width: auto;
    display: inline-block;
}
input.form-control[type=checkbox] {
    width: auto;
    height: auto;
    display: inline;
}
.proxies-table-input.session-edit input {
    width: calc(~"100% - 2em");
    display: inline-block;
}
.proxies-table-input.session-edit .btn {
    padding: 4px;
}
.tabs_default:hover {
    color: #555 !important;
    box-shadow: none !important;
}
.chrome_icon {
    width: 32px;
    height: 32px;
    background-image: url('img/icon_chrome.jpg');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    margin: auto;
}
.firefox_icon {
    width: 32px;
    height: 32px;
    background-image: url(img/icon_firefox.jpg);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    margin: auto;
}
.safari_icon {
    width: 32px;
    height: 32px;
    background-image: url(img/icon_safari.jpg);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    margin: auto;
}
.stats_row_change {
    animation: pulse 1s;
}
.row_clickable { cursor: pointer; }
.code_max_height {
    max-height: 500px;
}
.table-fixed {
    table-layout: fixed;
}
.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.page-body .messages a.custom_link:hover {
    background: none;
    border: none;
    box-shadow: none;
}
.pagination {
    margin: 0;
    .active>a, .active>a:focus, .active>span {
        background: none;
        color: black;
        font-weight: bold;
        &:hover {
            background: none;
            color: black;
            font-weight: bold;
        }
    }
    li>a, li>span, li>a:focus {
        &:hover {
            border: none;
            background: none;
            color: white;
            background: #428bca;
        }
        font-size: 14px;
        padding: 0 5px;
        color: #428bca;
        line-height: 1.4;
        background: none;
        border: none;
    }
}
.lpm {
    font-family: "Lato";
    color: @first_color;
    h1 {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
    }
    h2 {
        color: @second_color;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: 1px;
        margin: 0;
    }
    h3 {
        font-size: 24px;
        letter-spacing: 0.6px;
        font-weight: bold;
        margin: 0;
        line-height: 1;
    }
    h4 { margin: 0; }
    a {
        color: @second_color;
        cursor: pointer;
        border: none;
        text-decoration: underline;
        &:hover {
            color: @second_color;
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            border: none;
            box-shadow: none;
        }
    }
    select, input[type=number], input[type=text] {
        width: 100%;
        height: 32px;
        background-color: white;
        border: solid 1px @grey;
        border-radius: 3px;
        padding-left: 10px;
        padding-right: 25px;
        font-weight: 300;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &:focus {
            outline: none;
            border: solid 1px @second_color;
        }
    }
    select {
        background: url(/img/down.svg) no-repeat;
        background-position: right 10px center;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    input[type=number] { -moz-appearance: textfield; }
    .radio_buttons {
        width: 100%;
        display: flex;
        .option { flex: 1; }
        input[type=radio] { display:none; }
        label {
            cursor:pointer;
            font-size: 12px;
            font-weight: 300;
        }
        input[type=radio] + .checked_icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: -2px 6px 0 0;
            vertical-align:middle;
            background: none;
        }
        input[type=radio]:checked + .checked_icon {
            background: url(/img/check_radio.svg) left top no-repeat;
        }
    }
    .btn_lpm {
        width: 160px;
        height: 32px;
        border-radius: 2px;
        background-color: @second_color;
        border: solid 1px @second_color;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding-top: 3px;
        margin: 0 5px;
        box-shadow: none;
        &:hover {
            background-color: @first_color;
            border-color: @first_color;
        }
        &:active, &.active {
            background-color: @dark;
            border-color: @dark;
            color: @second_color;
        }
        &:focus { outline: none; }
    }
    .btn_lpm_default {
        color: @second_color;
        background-color: white;
        border-color: @second_color;
        &:hover {
            background-color: @light;
            border-color: @second_color;
        }
        &:active, &.active {
            background-color: @second_color;
            border-color: @second_color;
            color: white;
        }
    }
    .btn_lpm_normal {
        color: @first_color;
        border-color: @grey;
        background-color: white;
        &:hover {
            background-color: @light_grey;
            border-color: @grey;
        }
        &:active, &.active {
            background-color: @dark_grey;
            border-color: @dark_grey;
            color: @first_color;
        }
    }
    .btn_lpm_big {
        line-height: 0;
        font-size: 32px;
        padding-bottom: 9px;
        border-radius: 4px;
        font-weight: 700;
        width: 280px;
        height: 60px;
    }
    .btn_lpm_small {
        font-size: 11px;
        height: 27px;
        width: auto;
    }
    .btn_copy {
        color: @second_color;
        border-color: @second_color;
        font-size: 9px;
        padding: 0;
        width: 35px;
        height: 20px;
        font-weight: 900;
        margin-left: 10px;
        position: relative;
        top: -1px;
        &:hover { color: white; }
    }
    .modal {
        .modal-content {
            border: 0;
            width: 640px;
        }
        .modal-header {
            border: 0;
            h4 {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                padding-top: 30px;
                line-height: 0;
            }
            .close_icon {
                background: url(/img/delete.svg);
                width: 16px;
                height: 16px;
                opacity: 1;
                position: absolute;
                top: 19px;
                right: 19px;
            }
        }
        .modal-body { padding: 15px 50px 0; }
        .modal-footer {
            border: 0;
            text-align: center;
         }
    }
}
.edit_proxy {
    h3 { margin-bottom: 20px; }
    .nav {
        display: flex;
        margin-bottom: 20px;
        .field {
            flex-grow: 1;
            .title { display: inline-block; }
            select, input[type=number], input[type=text] {
                color: @second_color;
                font-weight: bold;
                margin-left: 10px;
                width: 200px;
            }
        }
        .action_buttons {
            flex-grow: 3;
            display: flex;
            direction: rtl;
            .btn_save { margin-right: 0; order: 1; }
            .btn_cancel { margin-left: 0; order: 2; }
        }
    }
    .nav_tabs {
        display: flex;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px @grey_border;
        .btn_tab {
            flex-grow: 1;
            height: 100px;
            margin: 0 3px;
            background-color: @light_grey;
            border: solid 2px @light_grey;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            position: relative;
            .icon {
                width: 30px;
                height: 30px;
                opacity: 0.6;
                margin: auto;
                position: relative;
                top: 16px;
            }
            .circle_wrapper {
                display: none;
                width: 12px;
                height: 12px;
                background-color: @second_color;
                position: relative;
                left: 29px;
                top: -5px;
                border-radius: 50%;
                &.active { display: block; }
                &.error { background-color: @error; }
                .circle {
                    color: white;
                    font-size: 9px;
                    line-height: 0;
                    position: relative;
                    top: 6px;
                    font-weight: bold;
                }
            }
            .title {
                position: absolute;
                top: 55px;
                left: 0;
                right: 0;
                opacity: 0.8;
            }
            .info {
                background: url(/img/info.svg);
                width: 11px;
                height: 11px;
                opacity: 0.4;
                position: absolute;
                bottom: 6px;
                right: 6px;
                cursor: pointer;
            }
            .icon.target { background: url(/img/target.svg); }
            .icon.speed { background: url(/img/speed.svg); }
            .icon.zero { background: url(/img/zero.svg); }
            .icon.rotation { background: url(/img/rotation.svg); }
            .icon.debug { background: url(/img/debug.svg); }
            .icon.general { background: url(/img/general.svg); }
            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
            &.active, &:hover {
                border-color: @second_color;
                background-color: white;
            }
            &.active {
                cursor: default;
                .icon { opacity: 1; }
                .title { opacity: 1; font-weight: bold; }
                .arrow {
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 6px solid @second_color;
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    right: 0;
                    width: 0;
                    margin: auto;
                }
            }
        }
    }
    .section_wrapper {
        display: flex;
        align-items: center;
        &:focus { outline: 0; }
        .section {
            position: relative;
            border: solid 1px @grey_border;
            border-radius: 4px;
            flex: 2 0;
            padding: 14px 30px;
            font-size: 14px;
            margin: 5px 0;
            display: flex;
            align-items: center;
            .desc {
                flex: 3 3;
                line-height: 1.07;
                padding-right: 35px;
            }
            .field {
                padding-right: 20px;
                flex: 5 5;
                display: flex;
                align-items: center;
                .sufix { margin-left: 20px; }
                .double_field {
                    display: flex;
                    input { flex: 2 2; }
                    .divider { flex: 1 1; text-align: center; }
                }
            }
            .icon {
                position: absolute;
                right: 20px;
            }
            &.error {
                .icon {
                    background: url(/img/error.svg);
                    width: 10px;
                    height: 10px;
                }
                .arrow {
                    border-left: solid 6px @error;
                    border-top: solid 7px transparent;
                    border-bottom: solid 7px transparent;
                    position: absolute;
                    right: -7px;
                }
                border-color: @error_light;
                select, input[type=number], input[type=text] {
                    border-color: @error;
                }
            }
            &.correct {
                .desc { color: @second_color; }
                .icon {
                    background: url(/img/check.svg);
                    width: 11px;
                    height: 8px;
                }
                border-color: @light;
            }
            &.active {
                .desc { color: @second_color; }
                border-color: @second_color;
                .arrow {
                    border-left: solid 6px @second_color;
                    border-top: solid 7px transparent;
                    border-bottom: solid 7px transparent;
                    position: absolute;
                    right: -7px;
                }
            }
        }
        .message_wrapper {
            margin-left: 25px;
            flex: 1 0;
            display: inline-block;
            .message {
                display: none;
                font-size: 14px;
                line-height: 1.17;
                border-radius: 4px;
                padding: 14px 19px;
                background-color: @x_light;
                &.active { display: block; }
                &.error {
                    display: block;
                    background-color: @error_x_light;
                    color: @error_dark;
                }
            }
        }
    }
}
.modal-backdrop.fade.in { opacity: 0.15; }
.intro {
    text-align: center;
    margin-top: 40px;
    .header {
        margin: auto;
        width: 600px;
    }
    .sub_header {
        margin: auto;
        margin-top: 10px;
    }
    .img_intro {
        background: url(/img/lpm_infographics.png);
        width: 592px;
        height: 326px;
        margin: 15px 0;
    }
    .section {
        cursor: pointer;
        text-align: initial;
        width: 470px;
        height: 83px;
        margin: auto;
        border: 2px solid @second_color;
        box-shadow: 0 2px 2px 0 rgba(156, 181, 190, 0.57);
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 17px;
        .img_block {
            position: absolute;
            .circle_wrapper {
                border: 1px solid @second_color;
                width: 20px;
                height: 20px;
                position: relative;
                border-radius: 50%;
                left: 19px;
                z-index: 1;
                background-color: white;
            }
        }
        .text_block {
            display: inline-block;
            position: relative;
            left: 110px;
        }
        .title {
            font-size: 22px;
            font-weight: 700;
        }
        .subtitle {
            font-size: 14px;
            color: @second_color;
        }
        .right_arrow {
            width: 14px;
            height: 14px;
            position: relative;
            top: -32px;
            left: 425px;
            transform: rotate(45deg);
            border-top: 2px solid @second_color;
            border-right: 2px solid @second_color;
        }
    }
    .section.disabled {
        cursor: initial;
        border: solid 1px @grey_border;
        color: #9cb5be;
        .subtitle { color: #9cb5be; }
        .right_arrow { border-color: #9cb5be; }
    }
    .section_list { counter-reset: section; }
    .img {
        width: 40px;
        height: 40px;
        position: relative;
        left: 30px;
        top: -18px;
        &:before {
            color: @second_color;
            counter-increment: section;
            content: counters(section, ".");
            font-size: 12px;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2;
        }
    }
    .img_1_active { background: url(/img/1_active.svg); }
    .img_2 { background: url(/img/2.svg); }
    .img_2_active { background: url(/img/2_active.svg); }
    .img_3 { background: url(/img/3.svg); }
    .img_3_active { background: url(/img/3_active.svg); }
    .howto {
        width: 537px;
        margin: auto;
        margin-bottom: 100px;
        h1.sub_header {
            line-height: 0;
            margin: 0 0 25px 0;
            color: @second_color;
        }
        .choices { height: 140px; }
        .choice {
            cursor: pointer;
            display: inline-block;
            width: 205px;
            height: 83px;
            border-radius: 4px;
            box-shadow: 0 2px 2px 0 @grey;
            border: solid 1px @grey_border;
            margin: 30px 20px;
            .content {
                position: relative;
                top: 14px;
            }
            .text_smaller { font-size: 14px; }
            .text_bigger {
                font-size: 20px;
                font-weight: bold;
            }
            &.active, &:hover {
                border: solid 2px #00aac3;
                margin-top: 29px;
            }
        }
        .text_middle {
            display: inline-block;
            font-size: 17px;
            font-weight: bold;
        }
        .well {
            text-align: left;
            box-shadow: none;
            border-radius: 3px;
            background-color: @light_grey;
        }
        .browser_instructions .header_well {
            font-size: 14px;
            font-weight: bold;
            p { margin: 10px; display: inline-block; }
            select { width: 270px; float: right; }
        }
        .code_instructions .header_well {
            text-align: center;
        }
        .instructions_well {
            margin-top: 25px;
            margin-bottom: 25px;
            position: relative;
            pre {
                border: none;
                font-size: 12px;
                background-color: @x_light;
                .btn_copy {
                    position: absolute;
                    top: 28px;
                    right: 28px;
                }
            }
        }
        .btn_lang { margin: 0 2px; }
        .btn_done { float: right; }
        // XXX krzysztof: move it to .lpm to make it common
        .instructions {
            margin-left: 30px;
            border-left: 1px solid @second_color;
            .single_instruction {
                font-size: 14px;
                padding-left: 23px;
                position: relative;
                top: 2px;
            }
            ul { margin: 0; }
            ol {
                counter-reset: section;
                list-style-type: none;
                padding-left: 0;
            }
            li { padding-bottom: 12px; }
            ol li .circle_wrapper {
                position: absolute;
                left: 37px;
                background-color: @light_grey;
                height: 28px;
                display: inline-block;
            }
            ol li .circle {
                border: 1px solid #00bcd2;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                position: relative;
                top: 3px;
                left: 1px;
            }
            ol li:last-child { padding-bottom: 0; }
            ol li .circle:before {
                counter-increment: section;
                content: counters(section, ".");
                display: inline-block;
                font-size: 11px;
                color: #00bcd2;
                margin-top: 3px;
                text-align: center;
                font-weight: 600;
                position: relative;
                left: 7px;
                top: -5px;
            }
            code {
                font-family: Lato;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: -0.1px;
                border-radius: 3px;
                background-color: #e7f9fa;
                color: #005271;
                padding: 3px 10px;
                margin: 0 5px;
            }
        }
    }
}
.add_proxy_modal.modal .modal-content {
    .icon {
        position: absolute;
        width: 26px;
        height: 26px;
    }
    .zone_icon { background: url(/img/zone_icon.png); }
    .preset_icon { background: url(/img/preset_icon.png); }
    .modal-footer {
        button { margin: 10px 16px; }
        button.options { width: 190px; }
    }
    .section {
        margin-bottom: 37px;
        &:last-child { margin-bottom: 10px; }
        h4 {
            color: @second_color;
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.5px;
            position: relative;
            left: 50px;
            top: 3px;
        }
        select { margin-top: 25px; }
    }
    .preview {
        margin-top: 15px;
        border: solid 1px @grey;
        padding: 20px 30px;
        border-radius: 4px;
        .header {
            height: 30px;
            font-size: 16px;
            font-weight: bold;
        }
        .desc {
            font-size: 14px;
            line-height: 1.3;
            margin-bottom: 12px;
        }
    }
    ul { padding-left: 0; }
    ul li { list-style: none; }
    ul li::before {
        color: @second_color;
        content: "\2022";
        font-size: 26px;
        padding-right: 6px;
        position: relative;
        top: 2px;
    }
}
.nav_left {
    margin-top: -30px;
    position: absolute;
    width: 224px;
    height: 100%;
    .menu {
        background-color: @x_light;
        padding-top: 11px;
        .menu_item {
            background-color: @x_light;
            height: 40px;
            position: relative;
            cursor: pointer;
            .text {
                color: @second_color;
                height: 22px;
                position: absolute;
                top: 50%;
                margin-top: -11px;
                left: 60px;
                font-size: 14px;
            }
            &.active {
                background-color: @light;
                cursor: default;
                .text { color: @first_color; }
            }
        }
        .icon {
            width: 20px;
            height: 20px;
            position: relative;
            top: 10px;
            left: 20px;
        }
        .howto { background-image: url('img/howto.svg'); }
        .proxies { background-image: url('img/proxies.svg'); }
        .stats { background-image: url('img/stats.svg'); }
        .zones { background-image: url('img/zones.svg'); }
        .tester { background-image: url('img/tester.svg'); }
        .tools { background-image: url('img/tools.svg'); }
        .faq { background-image: url('img/faq.svg'); }
    }
    .menu_filler {
        background-color: @xx_light;
        height: 100%;
    }
}
.nav_top {
    margin-bottom: 30px;
    background-color: @light_grey;
    height: 60px;
    .logo_wrapper {
        height: 60px;
        width: 224px;
        background: white;
        display: inline-block;
    }
    .logo {
        background-image: url('img/luminati_logo_2.svg');
        width: 166px;
        height: 35px;
        position: relative;
        top: 8px;
        left: 24px;
    }
    .version {
        font-size: 9px;
        font-weight: bold;
        float: right;
        position: relative;
        top: 4px;
        right: 3px;
        opacity: 0.5;
    }
    .dropdown {
        float: right;
        margin: 18px 36px 0 0;
        font-size: 14px;
    }
    .dropdown-toggle {
        color: @first_color;
        padding: 3px 17px 3px 5px;
        position: relative;
        text-decoration: none;
    }
    .dropdown-toggle .caret {
        position: absolute;
        right: 6px;
        top: 12px;
        margin: 0;
    }
    .dropdown-menu li a {
        color: @first_color;
        text-decoration: none;
    }
}
