<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Luminati Proxy Manager</title>
    <meta name=viewport
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <base href=/>
    <link rel="shortcut icon" href=/favicon.ico>
    <link rel=stylesheet href=req/notosans-fontface/css/notosans-fontface.css>
    <link rel=stylesheet href=req/font-awesome/css/font-awesome.css>
    <link rel=stylesheet href=req/flag-icon-css/css/flag-icon.css>
    <style>[ng-cloak] { display: none; }</style>
    <!-- Hotjar Tracking Code for http://luminati.io -->
  </head>
  <body ng-cloak ng-controller=root>
    <div class="top_nav_wrapper"
      ng-class="{'no_nav': section.name=='settings'}">
      <div class="lpm nav_top">
        <div class=logo_wrapper>
          <a ng-if="section.name!='settings'" href="/proxies" class=logo></a>
          <a ng-if="section.name=='settings'" href="https://luminati.io/cp"
            target=_blank class=logo></a>
          <span class=version ng-if=ver_cur>V{{ver_cur}}</span>
        </div>
        <div class=nav_top_right>
          <div class=notif_icon react-view=notif_center></div>
          <div class=dropdown ng-if="section.name!='settings'">
            <a href=# class=dropdown-toggle data-toggle=dropdown>
              {{settings.customer}}<span class=caret></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li ng-if="is_upgradable()">
                <a href=# ng-click=upgrade()>Upgrade</a>
              </li>
              <li><a href=# ng-click=open_report_bug()>Report a bug</a></li>
              <li><a href=# ng-click=logout()>Log out</a></li>
              <li><a href=# ng-click=shutdown()>Shut down</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div ng-if="section.name!='settings' && section.name!='welcome'"
        class="lpm nav_left">
        <div class=menu>
          <div ng-repeat="s in sections" ng-if="s.navbar" ui-state=s.name
            ng-click=zone_click(s.name)>
            <div class=menu_item ng-class="{'active': s==section}">
              <div class="icon {{s.name}}"></div>
              <div class=text>{{s.title}}</div>
            </div>
            <div class=children ng-if="false && s.children">
              <div ng-repeat="c in s.children" class=menu_item>
                <div class="icon {{c.name}}"></div>
                <div class=text>{{c.title}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class=menu_filler></div>
        <div class=footer>
          <a href=http://luminati.io/faq#proxy target="_blank" class="link">
            FAQ</a>
          | <a href=mailto:lpm@luminati.io class="link">Contact</a>
          | <a href="http://petstore.swagger.io/?url=https://cdn.rawgit.com/luminati-io/luminati-proxy/master/lib/swagger.json#/Proxy" class="link">
            API Docs</a>
        </div>
      </div>
      <div class="container page-body">
        <ui-view></ui-view>
      </div>
    </div>
    <div class=lpm>
      <div id=confirmation class="modal fade" role=dialog>
        <div class=modal-dialog>
          <div class=modal-content>
            <div class=modal-header>
              <button type=button class="close glyphicon glyphicon-remove"
                data-dismiss=modal></button>
              <h4 class=modal-title>{{confirmation.text}}</h4>
              <ul ng-if=confirmation.items class=confirmation-items>
                <li ng-repeat="i in confirmation.items">{{i}}</li>
              </ul>
            </div>
            <div class=modal-footer>
              <button type=button class="btn btn_lpm"
                data-dismiss=modal>
                Cancel
              </button>
              <button type=button class="btn btn_lpm btn_lpm_default"
                data-dismiss=modal ng-click=confirmation.confirmed()>
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id=restarting class="modal fade" role=dialog>
        <div class=modal-dialog>
          <div class=modal-content>
            <div class=modal-header>
              <h4 class=modal-title>Restarting...</h4>
            </div>
            <div class=modal-body>
              Please wait. The page will be reloaded automatically
              once the application has restarted.
            </div>
            <div class=modal-footer></div>
          </div>
        </div>
      </div>
      <div id=upgrading class="modal fade" role=dialog>
        <div class=modal-dialog>
          <div class=modal-content>
            <div class=modal-header>
              <h4 class=modal-title>Luminati Proxy Manager is upgrading</h4>
            </div>
            <div class=modal-body>
              Please wait...
            </div>
            <div class=modal-footer></div>
          </div>
        </div>
      </div>
      <div id=shutdown class="modal fade" role=dialog>
        <div class=modal-dialog>
          <div class=modal-content>
            <div class=modal-header>
              <h4 class=modal-title>Shutdown</h4>
            </div>
            <div class=modal-body>
              The application has been shut down. To restart,
              please run it manually and reload this page.
            </div>
            <div class=modal-footer></div>
          </div>
        </div>
      </div>
    </div>
    <div id=allocated_ips class="modal fade" role=dialog>
      <div class=modal-dialog>
        <div class=modal-content>
          <div class=modal-header>
            <h4 class=modal-title>
              <button type=button class="close glyphicon glyphicon-remove"
                data-dismiss=modal></button>
              Select IPs:
              <span class=blue>{{allocated_ips.zone}}</span>
            </h4>
          </div>
          <div class=modal-body>
            <p ng-show="allocated_ips.loading" class=text-warning>
              Loading...
            </p>
            <div ng-show="!allocated_ips.loading">
              <button ng-click="allocated_ips.random_ip()"
                type="button" class="btn btn-default">
                Random IPs
              </button>
              <div ng-repeat="item in allocated_ips.ips" class="checkbox">
                <label>
                  <input ng-model="item.checked"
                    ng-change="allocated_ips.toggle_ip(item)"
                    type=checkbox> {{item.ip}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id=allocated_vips class="modal fade" role=dialog>
      <div class=modal-dialog>
        <div class=modal-content>
          <div class=modal-header>
            <h4 class=modal-title>
              <button type=button class="close glyphicon glyphicon-remove"
                data-dismiss=modal></button>
              Select VIPs:
              <span class=blue>{{allocated_vips.zone}}</span>
            </h4>
          </div>
          <div class=modal-body>
            <p ng-show="allocated_vips.loading" class=text-warning>
              Loading...
            </p>
            <div ng-show="!allocated_vips.loading">
              <button ng-click="allocated_vips.random_vip()"
                type="button" class="btn btn-default">
                Random VIPs
              </button>
              <div ng-repeat="item in allocated_vips.vips" class="checkbox">
                <label>
                  <input ng-model="item.checked"
                    ng-change="allocated_vips.toggle_vip(item)"
                    type=checkbox> {{item.vip}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div react-view=add_proxy_modal></div>
    <div react-view=welcome_modal></div>
    <div react-view=report_bug_modal></div>
    <div react-view=progress_modal></div>
    <div id=notif_react_modal></div>
  </body>
</html>

