body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header { padding: 10px 50px; }
.logo {
    height: 50px;
}
.logo img {
    height: 70%;
    padding-left: 50px;
}
.version {
    padding: 15px 0 0 3px;
}
.states {
    text-align: right;
    padding: 15px;
    font-size: smaller;
}
.states .active {
    font-weight: bolder;
    font-size: larger;
}
md-input-container .hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: #aaa;
}
md-checkbox + .hint {
    bottom: 0;
}
