body {
    margin: 0;
    padding: 0;
    height: 100%;
}
header { padding: 10px 50px; }
.logo {
    height: 50px;
}
.logo img {
    height: 70%;
    padding-left: 50px;
}
.version {
    padding: 15px 0 0 3px;
}
.states {
    text-align: right;
    padding: 15px;
    font-size: smaller;
}
.states .active {
    font-weight: bolder;
    font-size: larger;
}
